@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}

li,
a,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  border-radius: 30px;
  background-color: black;
}

h1 {
  background-color: black;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "Caprasimo", cursive;
  cursor: pointer;
  padding-right: 100px;
}

.navlinks li {
  display: inline-block;
  padding: 0px 40px;
  background-color: black;
  
}

.navlinks li a {
  transition: all 0.3s ease 0s;
  background-color: black;
}

.navlinks li a:hover {
  color:  rgb(142, 142, 255,0.8);
}

button {
  padding: 9px 25px;
  background-color: rgb(142, 142, 255);
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  border: 0;
}

button:hover{
    background-color: blue;
}

.your {
  font-size: 2em;
  background-color: black;
}
span{
  background-color: black;
}
